@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,600;0,700;0,900;1,700&family=Pacifico&display&family=Montserrat:wght@100;400;500;700;900&family=Allura&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;900&display=swap');


$pacifico-font: 'Pacifico', cursive;
$base-font-family: 'Montserrat', sans-serif;
$gothic: "Yu Gothic", YuGothic, sans-serif;
$montserrat: "Montserrat", sans-serif;
$allure-font: 'Allura', cursive;

$base-font-color: #a0a0a0;
$base-color: #fff;

$color-white: #fff;
$color-gray: #ececec;
$color-gray2: #343333;
$color-gray3: #636363;
$color-gray4: #a1a1a1;
$color-gray5: #a9aaaf;
$color-red: #b11b24;

$color-accent: #c1c1c1;
